Repository LittleFox94/lf-os_amd64: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci-image-llvm, llvm, llvm-deploy-apt, llvm-deploy-generic, unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Path conditions:
  ci-image-llvm: any of: cmake/project_toolchain.cmake, CMakeLists.txt, .gitlab-ci.yml, src/llvm, Dockerfile.llvm-ci
  llvm: any of: cmake/project_toolchain.cmake, CMakeLists.txt, .gitlab-ci.yml, src/llvm, Dockerfile.llvm-ci
  llvm-deploy-apt: any of: cmake/project_toolchain.cmake, CMakeLists.txt, .gitlab-ci.yml, src/llvm, Dockerfile.llvm-ci
  llvm-deploy-generic: any of: cmake/project_toolchain.cmake, CMakeLists.txt, .gitlab-ci.yml, src/llvm, Dockerfile.llvm-ci
  unittest: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
  build-sysroot: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
  build-system: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
  apt-deploy: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
  generic-deploy: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
  pages: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci

liblfos: add tests for dlinkedlist
  src/userspace/liblfos/CMakeLists.txt
  src/userspace/liblfos/include/lfos/dlinkedlist.h
  src/userspace/liblfos/lib/dlinkedlist.c
  src/userspace/liblfos/tests/CMakeLists.txt
  src/userspace/liblfos/tests/dlinkedlist.cpp
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

WIP
  cmake/stage_libc.cmake
  src/userspace/liblfos/CMakeLists.txt
  src/userspace/liblfos/include/lfos/mq-router.h
  src/userspace/liblfos/lib/mq-router.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

dlinkedlist: several fixes
  src/userspace/liblfos/include/lfos/dlinkedlist.h
  src/userspace/liblfos/lib/dlinkedlist.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

kernel: Be more pedantic
  src/include/sys/unused_param.h
  src/include/uuid.h
  src/kernel/CMakeLists.txt
  src/kernel/arch/amd64/main.c
  src/kernel/arch/amd64/panic.c
  src/kernel/arch/amd64/panic.h
  src/kernel/arch/amd64/pic.c
  src/kernel/arch/amd64/pic.h
  src/kernel/arch/amd64/pit.c
  src/kernel/arch/amd64/pit.h
  src/kernel/arch/amd64/sc.c
  src/kernel/arch/amd64/sc.h
  src/kernel/arch/amd64/scheduler.c
  src/kernel/arch/amd64/scheduler.h
  src/kernel/arch/amd64/vm.c
  src/kernel/arch/amd64/vm.h
  src/kernel/condvar.c
  src/kernel/condvar.h
  src/kernel/cstdlib/string.h
  src/kernel/drivers/acpi.c
  src/kernel/drivers/fbconsole.c
  src/kernel/drivers/fbconsole.h
  src/kernel/elf.c
  src/kernel/log.c
  src/kernel/mm.c
  src/kernel/mm.h
  src/kernel/mutex.c
  src/kernel/mutex.h
  src/kernel/sd.c
  src/kernel/sd.h
  src/kernel/string.c
  src/kernel/uuid.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

kernel test_string: Change expectations to match program output
  src/kernel/tests/test_string.cxx
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

userspace/term: fix compilation
  src/userspace/term/main.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

cmake: only rebuild firmware.qcow2 and syscalls.h when needed
  cmake/helper_targets.cmake
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

fix building userspace syscall bindings
  cmake/helper_targets.cmake
  cmake/stage_sysroot.cmake
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

log, ksnprintf: allow way longer messages to be logged
  src/kernel/log.c
  src/kernel/string.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

ksnprintf and co: some fixes regarding the last optimizations
  src/kernel/string.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

CI: prevent publishing packages/docs when tests fail
  .gitlab-ci.yml
Due: ci-image-llvm, llvm, llvm-deploy-apt, llvm-deploy-generic, unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

yet another fix for generating userspace syscall bindings
  cmake/helper_targets.cmake
  cmake/stage_sysroot.cmake
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

fatcreate: fix bug when compiled with GCC
  util/fatcreate.c
Due: none

CI: changes to fatcreate should trigger a build
  .gitlab-ci.yml
Due: ci-image-llvm, llvm, llvm-deploy-apt, llvm-deploy-generic, unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

fatcreate: fix GCC detection
  util/fatcreate.c
Due: none

Add build dependencies
  doc/building.md
Due: none

Fixes build steps
  doc/building.md
Due: none

Seperate dependencies for building
  doc/building.md
Due: none

Add x64 directory to cmake OVMF search path
  cmake/helper_targets.cmake
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Add more details around installing/building the toolchain
  doc/building.md
Due: none

Add correct Debian packages
  doc/building.md
Due: none

Change CI to APT repository
  doc/building.md
Due: none

Simplify run instructions
  doc/building.md
Due: none

Add correct yq package
  doc/building.md
Due: none

docs: fix and extend building.md
  doc/building.md
Due: none

Add rs
  src/kernel/arch/amd64/panic.c
  src/kernel/qr/qr.c
  src/kernel/qr/rs.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

qr/rs: fix silly bug re; modulos
  src/kernel/qr/rs.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Start adding reed solomon error correction
  src/kernel/qr/qr.c
  src/kernel/qr/rs.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

WIP: qr tests
  src/kernel/tests/test_qr.cxx
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

unknown state, but apparently more masking modes?
  src/kernel/qr.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

qr: really fix endianness
  src/kernel/qr/qr.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

qr/rs: remove debug logs
  src/kernel/qr/rs.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

qr: compatible with -Wpedantic
  src/kernel/arch/amd64/panic.c
  src/kernel/qr/qr.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

WIP
  src/kernel/CMakeLists.txt
  src/kernel/qr/qr.c
  src/kernel/qr/qr.h
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

qr: correct endianness for EC coding
  src/kernel/qr/qr.c
  src/kernel/qr/rs.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

WIP: QR patches, most versions generate fine but have some errors
  src/kernel/qr/qr.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

WIP: updated log.c/log.h
  src/kernel/log.c
  src/kernel/log.h
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

kernel test runner: init gtest after loading shared libraries
  src/kernel/tests/runner.cxx
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages
