Repository LittleFox94/lf-os_amd64: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci-image-llvm, llvm, llvm-deploy-apt, llvm-deploy-generic, unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Path conditions:
  ci-image-llvm: any of: cmake/project_toolchain.cmake, CMakeLists.txt, .gitlab-ci.yml, src/llvm, Dockerfile.llvm-ci
  llvm: any of: cmake/project_toolchain.cmake, CMakeLists.txt, .gitlab-ci.yml, src/llvm, Dockerfile.llvm-ci
  llvm-deploy-apt: any of: cmake/project_toolchain.cmake, CMakeLists.txt, .gitlab-ci.yml, src/llvm, Dockerfile.llvm-ci
  llvm-deploy-generic: any of: cmake/project_toolchain.cmake, CMakeLists.txt, .gitlab-ci.yml, src/llvm, Dockerfile.llvm-ci
  unittest: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
  build-sysroot: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
  build-system: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
  apt-deploy: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
  generic-deploy: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
  pages: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci

kernel: fix warnings in flexarray, fix tests needing it
  src/kernel/flexarray.c
  src/kernel/tests/test_mq.cxx
  src/kernel/tests/test_sd.cxx
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

gdbinit: update for init being renamed fbdemo
  .gdbinit
Due: none

kernel _syscall_handler: return to userspace with iretq
  src/kernel/arch/amd64/gdt.S
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

kernel: switch task in syscall handler, fixes #39
  src/kernel/arch/amd64/sc.c
  src/kernel/arch/amd64/scheduler.c
  src/kernel/arch/amd64/scheduler.h
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

kernel scheduler: fix dumb wrong variable usage
  src/kernel/arch/amd64/scheduler.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

CI: only attempt apt deploy if we have a token
  .gitlab-ci.yml
Due: ci-image-llvm, llvm, llvm-deploy-apt, llvm-deploy-generic, unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

CI: only attempt apt deploy if we have a token - attempt #2
  .gitlab-ci.yml
Due: ci-image-llvm, llvm, llvm-deploy-apt, llvm-deploy-generic, unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

CI: only attempt apt deploy if we have a token - attempt #3
  .gitlab-ci.yml
Due: ci-image-llvm, llvm, llvm-deploy-apt, llvm-deploy-generic, unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

fix ind and outd functions
  src/include/arch/amd64/io.h
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Rename 32-bit in- and out functions
  src/include/arch/amd64/io.h
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

cmake staging: tell it that each build also handles configuration
  cmake/staging.cmake
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

loader: pause before going to kernel when in debug build
  src/loader/loader.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

loader: someone thought wprintf should make a newline for %% in the format string
  src/loader/string.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

loader: (probably) detect if UART is present
  src/loader/string.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

build and include term instead of fbdemo
  cmake/config.cmake
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

term: make font rendering code a bit nicer
  src/userspace/term/main.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

term: bzero callbacks to fix scrolling (and maybe more)
  src/userspace/term/main.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

gdbinit: add term, remove fbdemo
  .gdbinit
Due: none

drivers/uart: add a LF at the end
  src/userspace/drivers/uart/main.cxx
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

change debugging targets and gdbinit
  cmake/helper_targets.cmake
  gdbinit.in
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

change how images are built
  cmake/helper_targets.cmake
  cmake/image_contents.cmake
  cmake/images.cmake
  cmake/project_lf_os.cmake
  gdbinit.in
  src/kernel/CMakeLists.txt
  src/loader/CMakeLists.txt
  src/userspace/drivers/uart/CMakeLists.txt
  src/userspace/fbdemo/CMakeLists.txt
  src/userspace/term/CMakeLists.txt
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

add runtime tests
  .gitmodules
  cmake/project_lf_os.cmake
  cmake/stage_userspace.cmake
  cmake/tests.cmake
  src/runtime-tests/CMakeLists.txt
  src/runtime-tests/gtest_main.cxx
  src/runtime-tests/hello.cxx
  src/runtime-tests/run.sh
  src/runtime-tests/syscall-stack.cxx
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

qemu: use a more modern machine (q35 instead of i440)
  cmake/helper_targets.cmake
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

syscall-generator.pl: mark syscalls as being artificially generated
  src/syscall-generator.pl
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

CI: execute runtime-tests
  .gitlab-ci.yml
  Dockerfile.ci
Due: ci-image-llvm, llvm, llvm-deploy-apt, llvm-deploy-generic, unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

CI: add ca-certificates
  Dockerfile.ci
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Dockerfiles: base on trixie
  Dockerfile.ci
  Dockerfile.llvm-ci
Due: ci-image-llvm, llvm, llvm-deploy-apt, llvm-deploy-generic, unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

kernel test_mq: remove recording random value as test property
  src/kernel/tests/test_mq.cxx
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Update Doxyfile.in: ignore googletest
  Doxyfile.in
Due: none

shallow clone the llvm submodule
  .gitmodules
Due: none

gdbinit: fix generating add-symbol-file directives
  cmake/helper_targets.cmake
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Re-thinking service discovery in LF OS - first doc draft
  doc/service-discovery.md
Due: none

more stuff
  src/include/sys/errno-defs.h
  src/userspace/liblfos/CMakeLists.txt
  src/userspace/liblfos/include/lfos/dlinkedlist.h
  src/userspace/liblfos/include/lfos/mq-router.h
  src/userspace/liblfos/lib/dlinkedlist.c
  src/userspace/liblfos/lib/mq-router.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

liblfos dlinkedlist: error when forwarding iterator after unlink with no following item
  src/userspace/liblfos/lib/dlinkedlist.c
  src/userspace/liblfos/tests/dlinkedlist.cpp
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

liblfos mq-router: add message reprocessing
  src/userspace/liblfos/lib/mq-router.c
  src/userspace/liblfos/tests/mq-router.cpp
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Add liblfos tests to main tests target
  .gitlab-ci.yml
  cmake/tests.cmake
  src/userspace/liblfos/tests/CMakeLists.txt
Due: ci-image-llvm, llvm, llvm-deploy-apt, llvm-deploy-generic, unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

liblfos mq-router: several fixes and adding tests
  Dockerfile.ci
  src/userspace/liblfos/lib/mq-router.c
  src/userspace/liblfos/tests/CMakeLists.txt
  src/userspace/liblfos/tests/mq-router.cpp
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Add code coverage to Gitlab
  .gitlab-ci.yml
  CMakeLists.txt
  Dockerfile.ci
  cmake/tests.cmake
Due: ci-image-llvm, llvm, llvm-deploy-apt, llvm-deploy-generic, unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages
