Repository LittleFox94/lf-os_amd64: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci-image-llvm, llvm, llvm-deploy-apt, llvm-deploy-generic, unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Path conditions:
  ci-image-llvm: any of: cmake/project_toolchain.cmake, CMakeLists.txt, .gitlab-ci.yml, src/llvm, Dockerfile.llvm-ci
  llvm: any of: cmake/project_toolchain.cmake, CMakeLists.txt, .gitlab-ci.yml, src/llvm, Dockerfile.llvm-ci
  llvm-deploy-apt: any of: cmake/project_toolchain.cmake, CMakeLists.txt, .gitlab-ci.yml, src/llvm, Dockerfile.llvm-ci
  llvm-deploy-generic: any of: cmake/project_toolchain.cmake, CMakeLists.txt, .gitlab-ci.yml, src/llvm, Dockerfile.llvm-ci
  unittest: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
  build-sysroot: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
  build-system: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
  apt-deploy: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
  generic-deploy: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
  pages: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci

CI: adjust resource requests even more
  .gitlab-ci.yml
Due: ci-image-llvm, llvm, llvm-deploy-apt, llvm-deploy-generic, unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Kernel tests can now be C++ and gtest
  .gitlab-ci.yml
  cmake/stage_sysroot.cmake
  src/include/arch/amd64/stdint.h
  src/include/sys/errno.h
  src/include/sys/signal.h
  src/kernel/CMakeLists.txt
  src/kernel/cstdlib/stdarg.h
  src/kernel/cstdlib/stdbool.h
  src/kernel/cstdlib/stddef.h
  src/kernel/cstdlib/string.h
  src/kernel/string.c
  src/kernel/tests/CMakeLists.txt
  src/kernel/tests/lfostest.h
  src/kernel/tests/runner.cxx
  src/kernel/tests/test_tpa.c
  src/kernel/tests/test_tpa.cxx
Due: ci-image-llvm, llvm, llvm-deploy-apt, llvm-deploy-generic, unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Differentiate C and C++ kernel tests more
  src/kernel/tests/CMakeLists.txt
  src/kernel/tests/lfostest.h
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Remove kernel tests and kernel testrunner from build target "all"
  src/kernel/tests/CMakeLists.txt
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Change mformat command line
  cmake/images.cmake
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

tpa: fix compile warnings when compiled as C++ (tests)
  src/kernel/tpa.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

migrate kernel string tests to C++
  src/kernel/tests/test_string.c
  src/kernel/tests/test_string.cxx
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

TPA test: namespace everything, remove testmain
  src/kernel/tests/test_tpa.cxx
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

mq: fix compile warnings when compiled as C++
  src/kernel/mq.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

vm.h: fix compile errors when compiling as C++ (tests)
  src/kernel/arch/amd64/vm.h
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

kernel string: fix compilation warning when compiled as C++ (tests)
  src/kernel/string.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Add kernel test for uuid_fmt
  src/include/sys/known_services.h
  src/kernel/tests/test_string.cxx
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Migrated kernel test slab to C++
  src/kernel/tests/test_slab.c
  src/kernel/tests/test_slab.cxx
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

kernel/uuid: fix printing UUIDs
  src/kernel/uuid.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

syscall generator: allow const arguments
  src/syscall-generator.pl
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

kernel tests: change how C++ tests are detected in runner
  src/kernel/tests/lfostest.h
  src/kernel/tests/runner.cxx
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

syscalls: change uuid arg to be const, fix desc
  src/syscalls.yml
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Fix sysroot internal/external detection
  cmake/project_lf_os.cmake
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Migrated kernel test sd to C++
  src/kernel/tests/test_sd.c
  src/kernel/tests/test_sd.cxx
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Migrated kernel test mq to C++
  src/kernel/tests/test_mq.c
  src/kernel/tests/test_mq.cxx
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

kernel/string: fix memcpy
  src/kernel/string.c
  src/kernel/tests/test_string.cxx
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

kernel sd: fix compiler warnings when compiling as C++ (tests)
  src/kernel/sd.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Remove "kernel tests written in C" capability, use gtest
  src/kernel/tests/CMakeLists.txt
  src/kernel/tests/lfostest.h
  src/kernel/tests/runner.cxx
  src/kernel/tests/test_mq.cxx
  src/kernel/tests/test_sd.cxx
  src/kernel/tests/test_slab.cxx
  src/kernel/tests/test_string.cxx
  src/kernel/tests/test_tpa.cxx
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

C++ kernel tests: do not warn on string constants passed as char*
  src/kernel/tests/CMakeLists.txt
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

kernel/sd: clarify log message
  src/kernel/sd.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

kernel/scheduler: fix process allocation
  src/kernel/arch/amd64/scheduler.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

add libgtest-dev to CI docker image
  Dockerfile.ci
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

require CMake 3.20+ (cmake_path)
  CMakeLists.txt
  Dockerfile.ci
Due: ci-image-llvm, llvm, llvm-deploy-apt, llvm-deploy-generic, unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

Update debian in lLLVM CI docker image
  Dockerfile.llvm-ci
Due: ci-image-llvm, llvm, llvm-deploy-apt, llvm-deploy-generic

try fix mtools
  cmake/images.cmake
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

fix wrong autoformat
  cmake/images.cmake
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

add config for astyle
  .astylerc
Due: none

Fix include sys/syscalls.h in Doxygen
  Doxyfile.in
  doc/syscalls.md
Due: none

Rebuild gitlab pages when Doxyfile.in has changed
  .gitlab-ci.yml
Due: ci-image-llvm, llvm, llvm-deploy-apt, llvm-deploy-generic, unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

really add sys/syscalls.h to Doxygen in gitlab pages
  Doxyfile.in
  doc/syscalls.md
Due: none

replace mtools with fatcreate
  cmake/images.cmake
  cmake/project_lf_os.cmake
  util/CMakeLists.txt
  util/fatcreate.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

remove mtools from docker image and building docs
  Dockerfile.ci
  doc/building.md
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

fix errno.h definitions mismatch between userspace and kernel
  cmake/stage_sysroot.cmake
  src/include/errno.h
  src/include/sys/errno-defs.h
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

relocate kernel into top 2GiB instead of start of higher half
  src/kernel/CMakeLists.txt
  src/kernel/arch/amd64/vm.h
  src/loader/loader.c
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages

fix errno.h-related test breakage
  src/kernel/errno.h
Due: unittest, build-sysroot, build-system, apt-deploy, generic-deploy, pages
