Repository LittleFox94/lf-os_amd64: changes, and which GitLab CI jobs are due for each by the changed paths.
All: llvm, llvm-deploy, ci-image, test, build, deploy-apt

llvm:
  stage: build-toolchain
  interruptible: true
  needs:
  - ci-image-llvm
  image: $CI_REGISTRY_IMAGE/llvm-ci:$CI_COMMIT_SHA
  variables:
    GIT_STRATEGY: fetch
    GIT_SUBMODULE_STRATEGY: recursive
    ARTIFACT_COMPRESSION_LEVEL: fastest
  script:
  - mkdir build && cd build
  ...

llvm-deploy:
  stage: deploy-toolchain
  image: alpine
  variables:
    GIT_STRATEGY: none
  before_script:
  - apk add -u --no-cache curl
  script:
  ...

ci-image:
  image:
    name: gcr.io/kaniko-project/executor:debug-edge
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

test:
  stage: test
  image: $CI_REGISTRY_IMAGE/ci/$CI_COMMIT_REF_NAME:latest
  variables:
    CTEST_OUTPUT_ON_FAILURE: '1'
    GIT_STRATEGY: fetch
  script:
  - cmake -DCMAKE_BUILD_TYPE=Release -G Ninja -B build -S .
  - ninja -C build test-kernel

build:
  stage: build
  image: $CI_REGISTRY_IMAGE/ci/$CI_COMMIT_REF_NAME:latest
  interruptible: true
  before_script:
  - '[ -z "$CCACHE_DIR" ] && export CCACHE_DIR=$(pwd)/.ccache'
  script:
  - cmake -G Ninja -DCPACK_PACKAGE_VERSION=0.1.1-${CI_PIPELINE_IID} -DCMAKE_BUILD_TYPE=Release -B build -S .
  ...

deploy-apt:
  stage: deploy
  image: alpine
  variables:
    GIT_STRATEGY: none
  before_script:
  - apk add -u --no-cache curl
  script:
  ...

New CI
  .gitlab-ci.yml
  CMakeLists.txt
  Dockerfile.ci
  Dockerfile.llvm-ci
  cmake/stage_toolchain.cmake
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

CI docker image changes
  Dockerfile.ci
  Dockerfile.llvm-ci
  cmake/cmake.toolchain.in
Due: llvm, ci-image, test, build, deploy-apt

Big toolchain refactor
  .dockerignore
  .gitlab-ci.yml
  .gitlab/llvm-ci.yml
  CMakeLists.txt
  Dockerfile.ci
  cmake/cmake.toolchain.in
  cmake/config.cmake
  cmake/project_lf_os.cmake
  cmake/project_sysroot.cmake
  cmake/project_toolchain.cmake
  cmake/stage_libc.cmake
  cmake/stage_lowlevel.cmake
  cmake/stage_stdlibs.cmake
  cmake/stage_sysroot.cmake
  cmake/stage_toolchain.cmake
  cmake/staging.cmake
  cmake/toolchain.cmake
  src/include/errno.h
  src/userspace/drivers/uart/main.cxx
  src/userspace/init/main.cxx
  src/userspace/libpthread/CMakeLists.txt
  src/userspace/libpthread/pthread_cond.c
  src/userspace/libpthread/pthread_mutex.c
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

sysroot + toolchain packages got a package description
  cmake/project_sysroot.cmake
  cmake/project_toolchain.cmake
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

cmake/images: disable component packages
  cmake/images.cmake
Due: test, build, deploy-apt

Ignore all directories starting with build (/build*/)
  .gitignore
Due: none

Generify and refactor gitlab CI config
  .gitlab-ci.yml
  cmake/images.cmake
  cmake/project_sysroot.cmake
  cmake/project_toolchain.cmake
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

Change package names
  .gitlab-ci.yml
  cmake/images.cmake
  cmake/project_sysroot.cmake
  cmake/project_toolchain.cmake
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

Fix generic package deploy jobs..
  .gitlab-ci.yml
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

CI config: main branch in variable
  .gitlab-ci.yml
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

Limit generic package deploy to master branch
  .gitlab-ci.yml
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

Always have ci-image job
  .gitlab-ci.yml
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

Add deploy jobs for generic packages
  .gitlab-ci.yml
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

Only build sysroot if location not set manually
  CMakeLists.txt
  cmake/project_lf_os.cmake
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

Build CI image with either local toolchain package or from repo
  .gitlab-ci.yml
  Dockerfile.ci
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

Use debian bullseye for CI images
  Dockerfile.ci
  Dockerfile.llvm-ci
Due: llvm, ci-image, test, build, deploy-apt

Fix toolchain-job not built on llvm-ci docker image changes
  .gitlab-ci.yml
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

Fix pages job
  .gitlab-ci.yml
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

Fix system generic package name handling
  .gitlab-ci.yml
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

Add CMAKE_NO_COPY var to .cmake-build job template
  .gitlab-ci.yml
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

CI config: change unittest job to extend .cmake-build template
  .gitlab-ci.yml
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

CI: store hd.img.xz as artifact
  .gitlab-ci.yml
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

CI: rename hd.img.xz to fix naming of other packages
  .gitlab-ci.yml
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

CI: fix hd image name ..
  .gitlab-ci.yml
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

Add some support for gitpod
  .gitpod.yml
  Dockerfile.gitpod
Due: none

Fix in Dockerfile.gitpod: apt-get install -y
  Dockerfile.gitpod
Due: none

Gitpod: configure cmake to use Ninja generator
  .gitpod.yml
Due: none

gitpod: remove non-init tasks, add dependencies
  .gitpod.yml
  Dockerfile.gitpod
Due: none

Even more gitpod dependencies
  Dockerfile.gitpod
Due: none

Gitpod: add ports and novnc
  .gitpod.yml
  Dockerfile.gitpod
Due: none

gitpod: add gdb and link vnc_auto to index.html
  Dockerfile.gitpod
Due: none

Set qemu to use VNC display if in gitpod
  cmake/helper_targets.cmake
Due: test, build, deploy-apt

Kaniko does not seem to detect crio as container
  .gitlab-ci.yml
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

loader.h: fix documenting comment format
  src/include/loader.h
Due: test, build, deploy-apt

CI config: remove MAIN_BRANCH variable and use the one provided by gitlab instead
  .gitlab-ci.yml
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

CI: adjust kubernetes runner resources
  .gitlab-ci.yml
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

Add master-branch usage prevention
  use-branch-main
Due: none

loader-cut no. 2: add headers defining interfaces
  src/loader/common/include/bootenv.h
  src/loader/common/include/platform.h
Due: test, build, deploy-apt

CI: do not request more CPUs but allow using them
  .gitlab-ci.yml
Due: llvm, llvm-deploy, ci-image, test, build, deploy-apt

Path conditions:
  llvm: any of: cmake/project_toolchain.cmake, CMakeLists.txt, .gitlab-ci.yml, src/llvm, Dockerfile.ci
  llvm-deploy: any of: cmake/project_toolchain.cmake, CMakeLists.txt, .gitlab-ci.yml, src/llvm
  ci-image: any of: cmake/project_toolchain.cmake, CMakeLists.txt, .gitlab-ci.yml, src/llvm, Dockerfile.ci
  test: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
  build: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
  deploy-apt: any of: src/**/*, cmake/**/*, CMakeLists.txt, .gitlab-ci.yml, Dockerfile.ci
